body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.boardDiv {
    display: grid;
    gap: 5px 5px;
    width: 33vw;
    height: 33vw;
}

.gridCell {
    border-style: solid;
    border-color: blue;
}